.body-padding{padding-top:50px}
.list-section{margin-bottom:15px}
.pl-list,section.list-section>h4{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.pl-list{margin-bottom:3px}
#divPrevious a:visited,.list-section>h4>a:visited,.more-text a:visited,.pl-list a:visited{color:#563d7c}
.weixin-box{padding:6px}
.list-right{border-left:solid 1px rgba(0,0,0,.2)}
.list-right>section{margin-left:10px;margin-bottom:40px}
.widget{max-width:600px}
.widget h5{font-weight: bold;}
#divFavorites,#divLinkage{max-width:500px}
#divMisc,#divTags{max-width:420px}
#divArchives{max-width:220px}
#divComments{max-width:420px}
#divFavorites div,#divFavorites ul,#divLinkage div,#divLinkage ul,#divMisc div,#divMisc ul,#divTags div,#divTags ul{list-style:none;display:inline-block}
#divFavorites div li,#divFavorites ul li,#divLinkage div li,#divLinkage ul li,#divMisc div li,#divMisc ul li,#divTags div li,#divTags ul li{display:inline-block;padding-right:5px;padding-left:5px}
#divMisc div li,#divMisc ul li{margin-top:3px;margin-bottom:3px}
#divCalendar{max-width:300px}
#divCalendar table{margin:0 auto}
#tbCalendar td,#tbCalendar th{padding:6px;margin:3px;border:solid 1px rgba(0,0,0,.2);text-align:center}
#tbCalendar td:hover,#tbCalendar th:hover{border:solid 1px #75715e}
#tbCalendar caption{padding:6px 0;text-align:center}
#divComments li{margin-bottom:15px}
#divComments>ul{margin-left:-35px;margin-top:14px}
#divComments>ul>li{list-style-type:none}
.blog-text,.title-text{border-bottom:1px dashed #dadde3;margin-bottom:20px}
.title-text h1{font-size:22px;font-family:"微软雅黑","黑体";font-weight:400}
.title-text p{margin:25px 0 15px 0}
.blog-text p{line-height:30px;font-size:16px;font-family:"微软雅黑","黑体"}
.blog-text p img{max-width:100%;height:auto}
.more-name{font-weight:400;padding-left:10px;font-size:16px;border-left:solid 5px #563d7c;margin-top:30px;margin-bottom:16px}
.more-text li{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.more-text a{color:#444}
.more-text a:hover{color:#333}
.more-text time{float:right;color:#777}
.more-margin{margin-top:15px}
.dian{color:#563d7c}
.comment-list{margin-top:15px;padding-top:30px;padding-bottom:45px;border-top:1px dashed #dadde3}
.media-left>a>img{max-width:60px;border-radius:50%}
.home-page{margin-top:50px;padding-left:60px;padding-right:60px}
@media (max-width:767px) {
.home-page{margin-top:10px;padding-left:15px;padding-right:15px}
}